<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.kalengo.plugin.shareplugin"
      version="0.1.0">
    <name>share</name>
    <description>share Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,share</keywords>


    <js-module src="www/share.js" name="SharePlugin">
        <clobbers target="KLG.plugins.share" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SharePlugin">
                <param name="android-package" value="com.kalengo.weathermeida.plugins.SharePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/SharePlugin.java" target-dir="src/com/kalengo/weathermeida/plugins" />      
     </platform>          
</plugin>